
/*estilos de heder - nav*/

header nav img {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 10%;
   }
nav {
    display: flex;
    flex-direction: row;
    background-color: gray;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: aliceblue;
    text-decoration: none;;
}
header nav ul { 
    position: absolute;
    right: 1rem;
  

}
header nav ul li {
    display: inline-block;
   line-height: 7;
   font-size: 1.3rem;
   }
.banner {
    background-image: url("../img/portada.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 25rem;
  }

/*estilos del main*/
main {
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 222, 220);
}
.portada {
    height: 150 ;
   
}
main div {
    margin: 7rem;
    background-color: rgb(223, 222, 220);
}
main div p {
    font-size: 1.5rem;
    margin-top: 4rem;
    background-color: rgb(223, 222, 220);
}
h1 {
    background-color: rgb(223, 222, 220);
}

/* estilo seccion la oficina*/
h2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}
section div img {
    width: 50%;
  
} 
.abogados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 5rem;
  
}
h4 {
font-size: 1.5rem;
width: 30%;
text-align: center;
margin: auto;
padding: 4rem;
padding-top: 1rem;
font-family: 'Prata', serif;


}
.abogados div h3 {
    text-align: center;
    font-size: 1rem;
    padding: 0;
}
.peritos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5rem;
   }
.peritos div h3  {
        text-align: center;
        font-size: 1rem; 
        padding: 0;   
    }
/* estilo seccion servicios - litigacion*/
    .litigacion {
        background-color: rgb(223, 222, 220);
    }
    .penal{
        background-image: url("../img/penal.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 42rem;    
    }
    .accidentologia {
        background-image: url("../img/accidente.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 42rem;    
    
    }
    .caja__litigacion--uno {
        position:absolute;
        top: 150rem;
        right: 5rem;
        background-color: rgb(91, 91, 91);
        color: rgb(231, 231, 231);
        width: 30%;
        box-shadow: 1rem 1rem 2rem black;

    }
    .caja__litigacion--dos {
        position:absolute;
        top: 190rem;
        right: 5rem;
        background-color: rgb(91, 91, 91);
        color: rgb(231, 231, 231);
        width: 30%;    
        box-shadow: 1rem 1rem 2rem black;  
    }
    h3 {
        padding-left: 3rem;
        margin: rem;
    }
    p {
        padding-left: 3rem;        
    }
    button {
        margin-bottom: 2rem;
    }
/* estilo seccion servicios - otros servicios*/
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titulo--servicios {
      margin: 4rem ;
      text-align: center;
      padding: 2rem;
      background:
          linear-gradient(currentColor 0 0) 0 0,
          linear-gradient(currentColor 0 0) 0 0,
          linear-gradient(currentColor 0 0) 100% 100%,
          linear-gradient(currentColor 0 0) 100% 100%;
        background-size: var(--d, 0) 3px, 3px var(--d, 0);
        background-repeat: no-repeat;
        transition: 0.5s;
      }
    .titulo--servicios:hover {
        --d: 100%;
      }
    .otros--servicios--legales h4 {
        width: 60%;
        margin: auto;
        text-align: center;
        font-style: oblique;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    } 
    .servicios--periciales {
        background-color: rgb(152, 151, 151);
        padding: 3rem;
    }
    .servicios--periciales h3 {
        margin: 3rem 0;
        margin: 4rem ;
      text-align: center;
      padding: 2rem;
      background:
          linear-gradient(currentColor 0 0) 0 0,
          linear-gradient(currentColor 0 0) 0 0,
          linear-gradient(currentColor 0 0) 100% 100%,
          linear-gradient(currentColor 0 0) 100% 100%;
        background-size: var(--d, 0) 3px, 3px var(--d, 0);
        background-repeat: no-repeat;
        transition: 0.5s;
      }
    .servicios--periciales:hover {
        --d: 100%;
    }
    .grid h4 {
        width: 60%;
        margin: auto;
        text-align: center;
        font-style: oblique;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
    }
/*estilos de mapa*/
.mapa p {
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    margin: 0;
}
iframe {
    width: 100%;
    filter: grayscale(1);
}
/* estilo footer*/
    footer {
        background-color: gray;
    }
    footer ul { 
        display: inline-block;
        margin-top: 2rem;
       
       
    }
    footer ul li {
         background-color: gray;
       }
    footer img {
        float: right;
        background-color: gray;
        
        
       }
/* estilo pagina cv arrellano*/
    .arellano {
    background-image: url("../img/Arellano.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 130rem;
       }
    .arellano button {
        position: relative;
        top: 25rem;
        left : 20rem;

       }
    /* estilo pagina cv atenor*/
    .atenor {
        background-image: url("../img/atenor.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 130rem;
           }
    .atenor button {
            position: relative;
            top: 25rem;
            left : 20rem;
    
           }
    /* estilo pagina cv guizzo*/
    .guizzo {
        background-image: url("../img/guizzo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 130rem;
           }
    .guizzo button {
            position: relative;
            top: 27rem;
            left : 20rem;
    
           }
    /* estilo pagina cv martinez*/
    .martinez {
        background-image: url("../img/martinez.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 130rem;
           }
    .martinez button {
            position: relative;
            top: 27rem;
            left : 20rem;
    
           }
    /* estilo pagina cv medina*/
    .medina {
        background-image: url("../img/medina.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 130rem;
           }

    .medina button {
            position: relative;
            top: 27rem;
            left : 20rem;
    
           }
    

           
/*estilo mobile*/

@media screen and (max-width :600px) {

/*estilos del nav*/
    header nav ul li {
        line-height: 3;
        font-size: 1rem;
        font-weight:bold
    }
    header nav ul li a {
        margin: 0;
        padding: 0;
    }
    .banner {
        height: 10rem;
      }

/*estilos del main*/
main {
    display: flex;
    flex-direction: column;  
}
h1 {
    padding : 0;
    margin: 0;
}
main div {
    margin: 1rem;  
}
main div p {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: justify;
}
.abogados {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.frase {
    display: none;
}
.peritos {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

/* estilo seccion servicios - litigacion*/

.penal{
    background-image: none;
}
 .accidentologia {
        background-image: none;
}
.caja__litigacion--uno {
    position:static;
    width: 90%;
}
.caja__litigacion--dos {
    position:static;
    width: 90%;
}

